*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.Logo{
    width: 60px;
}

.Navbar{
    background-color: rgb(67, 9, 9);
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    width: 100%;
}

ul li a{
    font-size: 20px;
    font-family: fantasy;
    font-style: italic;
    font-weight: lighter;
    color: beige;
    text-decoration-line: none;
    text-transform: capitalize;
    letter-spacing: 0px;
    padding: 10px 15px;

}

ul li a:hover{
    /* background-color: rgba(67, 9, 9, 0.6);  */
    background-color: rgba(103, 3, 3, 0.795);
    border-radius: 5px;  
}

nav.Navbar ul li{
    display: inline-block;
    text-transform: capitalize;
}

html body nav.Navbar{
    /* display: inline-block; */
}

p.Model{
    background-color: blue;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    font-size: 30px;
    text-align: center;
    border-top: 50px ridge plum ;
    border-right: 50px ridge orange;
    border-bottom: 50px ridge olive;
    border-left: red;
    margin-top: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    border-radius: 50%;
    height: 300px;
    width: 300px;
}

 div.bgimage{
    background-image: url("backgredcar.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 85vh;
}
div.bgcolour{
    background-color: rgba(255, 98, 98, 0.402);
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.bgimage div.bgcolour h1{
    color: white;
    font-size: 4rem;
    text-align: center;
}

div.bgcolour  div.content p{
    color: white;
    text-align: center;
    font-size: 2rem;
}

html body h1.cars{
    color: brown;
    font-size: medium;
    text-align: center;
    margin-top: 15vh;
    margin-left: 20vh;
    margin-bottom: 5vh;
    margin-right: 20vh;
}

html body p.heading{
    color: brown;
    font-style: normal;
    font-weight: bold;
    font-size: 4rex;
    text-align: center;
    margin-left: 3rem;
    margin-bottom: 2rem;
    margin-right: 3rem;
}


html body p.note{
    text-align: center;
    color: brown;
    font-style: italic;
    margin-left: 10rem;
    margin-right: 10rem;
}


   body div div.buttondiv  {
    /* text-align: center;
    background-color: aqua;
    padding-top: 0.7rem;
    padding-right: 2rem;
    padding-bottom: 0.7rem;
    padding-left: 2rem;
    border-radius: 20px;
    font-size: 20px;
    color: aliceblue;
    border: none;
    outline: none; */
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

div div.buttondiv button.button{
    text-align:center ;
    background-color: rgb(126, 126, 234);
    padding: 0.7rem;
    padding-right: 2rem;
    padding-bottom: 0.7rem;
    padding-left: 2rem;
    border-radius: 20px;
    font-size: 20px;
    color: aliceblue;
    border: none;
    outline: none;
}

div.card div.cardcontent button{
     display: flex;
     justify-content: center;
     margin-top: 5rem;
     margin-bottom: 5rem;
}

html body div.Cardsection{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
    flex-wrap: wrap;
}

body div.Cardsection div.card{
    box-shadow: 1px 1px 10px 2px grey;
    width: 250px;
    border-radius: 5px;
    margin: 10px;
}

div.Cardsection div.card img{
    width: 100%;
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
    height: 165px;
}

div.Cardsection div.card div.cardcontent{
    padding: 0.5rem 1rem;
}

div.card div.cardcontent p.carname{
    color: blue;
    font-style: normal;
    font-weight: 800;
    margin-top: 0.5rem;
    text-transform: capitalize;
}

div.card div.cardcontent p.Description{
    margin-bottom: 1.3rem;
    color: black;
    font-size: 13px;
}

div.card div.cardcontent button{
    border-radius: 1px;
    border-top: 5%;
    border-radius: 2px;
    padding-top: 0.7rem;
    padding-right: 1.2rem;
    padding-bottom: 0.7rem;
    padding-left: 1.2rem;
    background-color: orange;
    border: none;  
}

div.cardcontent button a{
    color: white;
    outline: none;
    text-decoration: none;
}

footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    margin-top: 2rem;
    width: 100%;
}

body footer div.fleft{
    display: flex;
}

body footer div.Fright{
    display: flex;
}

footer div.Fright img{
    width: 100px;
}

footer div.fleft p{
    margin: auto;
}

@media(max-width :450px) {
    html body hi.cars{
    margin-left: 5vh;
    margin-right: 5vh;
    margin-left: 5vh;
    font-size: 2rem;
    }

    html body h1.cars{
        margin-top: 10vh;
    }


    html body p.note{
        margin-left: 1vh;
        margin-right: 1vh;
    }

   

    footer div.Fright img{
        width: 30px;
    }

    footer{
        padding: 0.2rem 0.2rem;
        justify-content: center !important;
    }

    .Navbar{
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 350px) {
    div.bgimage  div.bgcolour h1{
        font-size: 2.5rem;
    }

    ul li a{
        font-size: 15px;
    }

    .Logo{
        width: 40px;
    }

    div.bgcolour  div.content p{
        font-size: 1.5rem;
    }

    footer div.Fright img{
        width: 30px;
    }


    footer{
        padding: 0.2rem 0.2rem;
        justify-content: center !important;
    }
}




